
html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    height: 100%;
    background-color: #112025;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    /* padding: 2%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    color: rgb(216, 250, 182);
}

.homeButtonContainer {
    margin-bottom: 50%;
    width: 65%;
    height: 10%;
}

#homeDisclamer {
    margin-top: 5%;
    font-size: x-small;
}

#splashLogo {
    width: 100%;
}

.filledButton {
    width: 100%;
    height: 50%;
    margin: 2% 0;
    font-size: medium;
    background-color: chartreuse;
    color: #112025;
    border-radius: 1000px;
    border: none;
    font-weight: bolder;
}

.rounded {
    border-radius: 1000px;
    padding: 2%;
}

.inversedColor {
    background-color: #112025;
    color: chartreuse;
    border: 2px solid chartreuse;
    font-weight: normal;
}

.useTextColor {
    color: chartreuse;
}

.center {
    margin: auto;
    width: 50%;
}

.formOption {
    margin: 2%;
}

